player-connection-mode=Listen
player-connection-guid=3014756254
player-connection-debug=0
player-connection-project-name=AIPlayFlappyBird
player-connection-ip=192.168.242.1
player-connection-ip=192.168.1.1
player-connection-ip=192.168.22.203
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c9fb2f58d4a14404afd5d15ce10cc3a7
